body {
    background-color: #f5f5f5;
    color: #4e4e4e;
    font-weight: 700;
}
.primary-color{
    color: #4e73df;
}
.add-new-item {
    color: #4e73df;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s;

}

.add-new-item:hover {
    color: #3953a0f4;
    /* text-decoration: underline; */
}


.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 6px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    font-size: 1rem;
    padding: 5px;
    background-color: transparent;
    color: #4e73df;
}

.search-container button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-container button[type="submit"] i {
    font-size: 1.5rem;
    color: #4e73df;
    margin-left: 5px;
}

.search-container input[type="text"]:focus {
    outline: none;
}

.search-container button {
    border: none;
    background-color: transparent;
    color: #4e73df;

}

.product-img{
    border: 5px solid #f5f5f5;
    border-radius: 5px;
}
.product-container{
    overflow-y: scroll;
    height: 400px;
    /* background-color: #4e73df; */
    position: relative;
}

.scroll-container {
    width: 300px; /* set a width for the container */
    height: 200px; /* set a height for the container */
    overflow-y: scroll; /* allow vertical scrolling */
    overflow-x: hidden !important;
    position: relative; /* set position relative for child elements */
  }
  
  .product-container::-webkit-scrollbar-track
  {
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  .product-container::-webkit-scrollbar
  {
      width: 7px;
      background-color: #F5F5F5;
  }
  
  .product-container::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #f5f5f5;
  }

  .checkout-header{
    background-color: #f5f5f5;
    width: 100%;

  }
  .checkout-container{
    /* height: 85%; */
  }
  .checkout-header p , .checkout-body p{
    margin: 0;
  }
  .break-line{
    width: 100%;
    height: 3px;
    background-color: #F5F5F5;
  }
  .primary-border{
    border: 1px solid #4e73df;
  }
  .active-category{
    border: 1px solid #4e73df;
    color: #4e73df;
  }
  .product-item{
    cursor: pointer;
    height: auto;
    transition: all 0.3s;
  }
  .product-item:hover{
    transform: translateY(15px)
  }
  #itemTrashIcon , #itemPlusIcon ,#itemMinusIcon{
    cursor: pointer;
  }
  .btn-primary-color{
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }
  #sections .col-md-2{
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(0.9);
  }
  #sections .col-md-2:hover{
    transform: scale(1.1);
  }
  .checkout-container{
    width: 85%;
    margin: auto;
  }

  .validationError {
    color: red !important;
}